$clr-primary-darkpink: hsl(337deg, 48%, 49%);
$clr-primary-linkwaterwhite: hsl(220deg, 60%, 99%);
$clr-secondary-sanjuanblue: hsl(207deg, 33%, 49%);
$clr-secondary-mirageblue: hsl(207deg, 27%, 15%);
$clr-secondary-charmpink: hsl(337deg, 60%, 64%);
$clr-secondary-light-sanjuanblue: hsl(207deg, 16%, 50%);
$clr-bb-lightblue: #EDF3F8;
