@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap');

$font-primary: "DM Serif Display", sans-serif;
$font-secondary: "Public Sans", serif;

$font-size-primary-big: 3rem;
$font-size-secondary-regular: 2rem;
$font-size-secondary-small: 1.25rem;

$font-weight-primary: 400;
$font-weight-secondary: 700;
