.todo-list-section {
    min-height: 200px;
    background-image: url("../images/bg-mobile-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.content-container {
    width: 88%;
}

.content-header {
    margin-block-start: 48px;
    display: flex;
    justify-content: space-between;
}

.content-header > img {
    max-width: 20px;
    max-height: 20px;
}

.content-header h1{
    font-weight: var(--fw-bold);
    color: #FFF;
    font-size: 24px;
    letter-spacing: 15px;
}

.content-body {
    padding-top: 40px;
}

.item-input-li {
    display: flex;
    gap: 10px;
}

@media(min-width: 37.5em) {

    .content-container {
        width: auto;
    }

    .content-header > img {
        max-width: 26px;
        max-height: 26px;
    }

    .content-header {
        width: 38.5em;
        display: flex;
        justify-content: space-between;
        margin-top: 34vh;
    }

    .content-body {
        display: flex;
        width: 100%;
        padding-top: 40px;
    }

    .todo-list-section {
        min-height: 300px;
        background-image: url('../images/bg-desktop-light.jpg');
    }

    .content-wrapper {
        left: 50%;
        translate: -50%
    }

    .content-wrapper {
        top: -210px;
    }

    .content-header h1{
        font-size: 40px;
    }
}