@use "../../util/_colors.scss" as colors;



.header-desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;

  nav {
    display: flex;
    gap: 40px;
    margin-left: 64px;
    background-color: transparent;
    color: colors.$clr-secondary-light-sanjuanblue;
    font-weight: 700;
    line-height: 18px;
    z-index: 5;
    a {
      &:hover {
        color: colors.$clr-primary-darksanjuanblue;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  button {
    border: none;
    background-color: colors.$clr-primary-darkpink;
    border-radius: 25px;
    width: 173px;
    height: 48px;
    color: white;
    margin-left: auto;
    font-size: 0.95rem;
    font-family: "Public Sans", serif;
    font-weight: 700;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background-color: colors.$clr-secondary-charmpink;
    }
  }

  .circle-pattern-header {
    max-width: 1000px;
    width: 1000px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    position: absolute;
    z-index: 1;
  }
}


@media(min-width: 1440px) {
  .header-desktop {
    .circle-pattern-header {
      left: 85%;
      transform: translate(-50%, -35%);
    }
  }
}
