@use "../../util/colors" as color;


.sidebar {
  position: absolute;
  height: 100vh;
  max-height: 100vh;
  top: 0;
  right: -9999px;
  width: 80%;
  overflow: visible;
  color: color.$clr-primary-linkwaterwhite;
  background-color: color.$clr-secondary-mirageblue;
  transition: right 0.5s ease;
  z-index: 3;
  .wrap-sidebar {
    width: 85%;
    margin-inline: auto;
  }
  button {
    border: none;
    background-color: color.$clr-primary-darkpink;
    border-radius: 25px;
    height: 48px;
    color: white;
    width: 100%;
    font-family: "Public Sans", serif;
    font-weight: bold;
  }
}

.sidebar.open {
  right: 0;
  height: 100vh;
}

.sidebar.close {
  height: 100vh;
}



.close-sidebar {
  display: flex;
  justify-content: flex-end;
  padding: 48px 0 24px 0;
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.8;
  gap: 32px;
  color: color.$clr-primary-linkwaterwhite;
  border-top: 1px solid color.$clr-primary-linkwaterwhite;
  padding: 43px 0 32px 0;
  a {
    font-size: 20px;
  }
}
