.header-mobile {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 24px 32px 24px;
  .circle-pattern {
    position: absolute;
    top: -500px;
    left: -150px;
    max-width: 100%;
    overflow: visible;
    z-index: 0;
  }
  button {
    all: initial;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    z-index: 1;
  }
  .menu-bar {
    cursor: pointer;
  }
}


