@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-standard {
    @apply w-full pl-3 mb-4 h-10 border border-lightGray border-opacity-25 rounded text-gray-950 focus:outline-none dark:bg-mediumGray dark:border-lightMediumGray dark:border-opacity-25 dark:caret-white dark:text-white
}

.input-standard-delete {
    @apply w-11/12  pl-3  h-10 border border-lightGray border-opacity-25 rounded text-gray-950 focus:outline-none dark:bg-mediumGray dark:border-lightMediumGray dark:border-opacity-25 dark:caret-white dark:text-white
}

.button-standard {
    @apply bg-darkPurple w-full rounded-full font-plus-jakarta mb-6 text-white active:bg-lightPurple font-bold text-sm px-6 py-3 shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150
}

.button-disabled {



}

.parent-hover:hover .svg-hover path {
    fill: #635FC7;
}

.selected-parent-hover .svg-hover path {
    fill: #ffffff;
}

.eye-icon-sidebar-hover:hover .svg-hover path {
    fill: #635FC7;
}

.eye-icon-sidebar-hover:hover  p {
    color: #635FC7;
}

.text {
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


.height-test {
    height: 92vh;
}
