@use "util/colors" as color;
@import "util/fonts";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;

}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-family: $font-primary;
  font-size: 72px;
}

h2 {
  font-family: $font-primary;
  font-size: 48px;
}

h3 {
  font-family: $font-primary;
  font-size: 32px;
}

h4 {
  font-family: $font-primary;
  font-size: 24px;
}

p {
  font-family: $font-secondary;
  font-size: 15px;
}

#root, #__next {
  isolation: isolate;
}
