@use "../../util/_colors.scss" as colors;
@use "../../util/_fonts.scss" as font;

.princing-section {
  position: relative;
  .circle-pricing {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(60%, -82%);
    max-width: 1000px;
  }
  .title-text {
    text-align: center;
    margin-top: 8px;
    color: colors.$clr-primary-darksanjuanblue;
  }
  .plan-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
