@use "../../util/_colors.scss" as colors;
@use "../../util/_fonts.scss" as font;

.ready-to-start-section {
  color: colors.$clr-primary-darksanjuanblue;
  margin-inline: auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-self: center;
  width: 90%;
  .ready-text {
    h2 {
      font-size: font.$font-size-secondary-regular;
    }
  }
  .fields {
    .input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      input[type='text'] {
        all: unset;
        width: calc(100% - 24px);
        background-color: white;
        margin-left: auto;
        padding: 12px;
        border-radius: 2rem;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        &:hover {
          cursor: pointer;
          &::placeholder {
            color: colors.$clr-primary-darksanjuanblue;
            font-weight: 700;
            opacity: 1;
          }
        }
      }
      button {
        width: 100%;
        border: none;
        background-color: colors.$clr-primary-darkpink;
        border-radius: 2rem;
        height: 48px;
        padding: 12px;
        color: white;
        font-family: "Public Sans", serif;
        font-weight: bold;
        &:hover {
          background-color: colors.$clr-secondary-charmpink;
        }
      }
    }
  }
}

@media(min-width: 600px) {
  .ready-to-start-section {
    width: 100%;
    .ready-text {
      h2 {
        font-size: font.$font-size-primary-big;
      }
    }
    .fields {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0;
      .input-wrapper {
        position: relative;
        width: 445px;
        input[type='text'] {
          text-align: left;
          margin: 0;
          width: 100%;
          padding-left: 24px;
          font-weight: bold;
        }
        button {
          position: absolute;
          width: 174px;
          top: 0;
          right: -36px;
        }
      }
    }
  }

}

@media(min-width: 1440px) {
  .ready-to-start-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .fields {
      .input-wrapper {
        position: relative;
        input[type='text'] {
          width: calc(100% - 24px);
          box-sizing: border-box;
          padding-left: 24px;
        }
        button {
          right: 0;
        }
      }
    }
  }

}
