.header {
    display: flex;
    justify-content: space-between;
    margin-block-start: 48px;
}

.container-font-theme {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.change-font {
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
}

.for-dropdown {
    display: flex;
    align-items: center;
}

.toggle {
    display: flex;
    gap: 12px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--clr-gray);
}

.toggle input[type="checkbox"]:checked + .check {
    background-color: var(--clr-purple);
}

.toggle input[type="checkbox"]:checked + .check:before {
    transform: translateX(20px);
}

.header .container-font-theme .toggle .darkmode {
    : var(--clr-purple);
}


.check:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    background: var(--clr-light);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: 0.5s;
}

.dropdown:checked + label,
.dropdown:not(:checked) + label{
    font-size: 16px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: fit-content;
    margin-right: 15px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.for-dropdown img{
    padding-left: 18px;
}

.section-dropdown {
    position: relative;
    padding: 5px;
    background-color: var(--clr-light);
    top: 80px;
    width: 183px;
    height: 124px;
    margin-left: -180px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px;
    font-size: 16px;
}

.sans-serif {
    font-weight: var(--fw-bold);
    font-family: 'Sans Serif';
}

.serif {
    font-weight: var(--fw-bold);
    font-family: var(--ff-serif);
}

.mono {
    font-weight: var(--fw-bold);
    font-family: var(--ff);
}

.card-dark {
    color: var(--clr-light);
    background-color: var(--clr-softdark);
    box-shadow: 0 0 32px 0 var(--clr-purple);
    border-radius: 10px;
}

.card-light {
    background-color: var(--clr-light);
    box-shadow: 0 0 8px 8px var(--clr-softlight);
    border-radius: 10px;
}


.dropdown:checked ~ .section-dropdown{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-10px, 10px);
}

.sub {
    width: fit-content;
}

.sub:hover {
    cursor: pointer;
    color: var(--clr-purple);
}
