.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.main-text h1, h3 {
    margin: 0;
    padding: 5px 0;
}

.main-text h1 {
    font-size: 64px;
    color: var(--clr-softdark);
}

.main-text h3 {
    font-size: 24px;
    font-weight: var(--fw-regular);
    color: var(--clr-purple);
    line-height: 29px;
}

.image-button:hover circle {
    opacity: 1;
}

.image-button:hover svg g path {
    fill: var(--clr-light);
}
