.todo-list-section {
    min-height: 200px;
    background-image: url("../images/bg-mobile-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.content-container {
    position: absolute;
    width: 88%;
}

.content-header {
    margin-block-start: 48px;
    display: flex;
    justify-content: space-between;
}

.content-header > img {
    max-width: 20px;
    max-height: 20px;
}

.content-header h1{
    font-weight: var(--fw-bold);
    color: #FFF;
    font-size: 24px;
    letter-spacing: 15px;
}

.content-body {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.main-input {
    margin-bottom: 1.5rem;
}

.main-input .input-cool {
    color: #C8CBE7;
}

.item-input-li-lightmode {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    padding: 23px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.item-input-li-lightmode:nth-child(0) {
    border-radius: 5px;
}

.item-input-li-darkmode:nth-child(0) {

}

.item-input-li-lightmode:hover .close {
    opacity: 1;
}

.item-input-li-darkmode:hover .close {
    opacity: 1;
}

.task-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-input-li-darkmode {
    display: flex;
    background-color: var(--clr-dark-theme-verydark-blue-desaturated);
    width: 100%;
    overflow: hidden;
    padding: 23px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.main-input .item-input-li-lightmode:first-child {
    border-radius: 5px;
}

.item-input-li-lightmode:first-child {
    border-radius: 5px 5px 0 0;
}

.item-input-li-darkmode:first-child {
    border-radius: 5px 5px 0 0;
}


.check {
    width: 24px;
    height: 22px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}


.check:hover {
    border-color: hsl(192, 100%, 67%);
}

.check img {
    transform: scale(0);
}

.active-check {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.crossline-check {
    text-decoration: line-through;
    color: black;
    opacity: 0.6;
}

.active-check img {
    transform: scale(1);
}

.check.active-check {
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
}

.close {
    background: transparent;
    border: none;
    outline: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}

.input-cool {
    all: unset;
    color: black;
    width: 100%;
}

.main-input {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.secondary-tasks {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.secondary-tasks-lightmode p {
    color: #C8CBE7;
}

.secondary-tasks-darkmode p {
    color: black;
}

.footer {
    text-align: center;
    padding: 50px;
    opacity: 0.8;
    color: #5B5E7E;
}

@media(min-width: 37.5em) {

    .content-container {
        width: auto;
    }

    .content-header > img {
        max-width: 26px;
        max-height: 26px;
    }

    .content-header {
        width: 38.5em;
        display: flex;
        justify-content: space-between;
        margin-top: 34vh;
    }

    .content-body {
        display: flex;
        width: 100%;
        padding-top: 40px;
    }

    .todo-list-section {
        min-height: 300px;
        background-image: url('../images/bg-desktop-light.jpg');
    }

    .content-wrapper {
        left: 50%;
        translate: -50%
    }

    .content-wrapper {
        top: -210px;
    }

    .content-header h1{
        font-size: 40px;
    }
}